.idea/.name
.idea/copilot.data.migration.edit.xml
.idea/material_theme_project_new.xml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/copilot.data.migration.ask2agent.xml
.idea/copilot.data.migration.agent.xml
.idea/copilot.data.migration.ask.xml
.idea/workspace.xml
*.xml
*.class
/out/
minesweeper-koala.iml
minesweeper-koala.iml
/out
/out/production/minesweeper-koala
/out/production
out/production/minesweeper-koala/Main.class
.idea/shelf/Uncommitted_changes_before_Update_at_11_23_2025_10_48_PM_\[Changes\]/shelved.patch
*.iml
minesweeper-koala.iml
/.idea/shelf
