.idea/.name
.idea/copilot.data.migration.edit.xml
.idea/material_theme_project_new.xml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/copilot.data.migration.ask2agent.xml
.idea/copilot.data.migration.agent.xml
.idea/copilot.data.migration.ask.xml
.idea/workspace.xml
*.xml
*.class
